/*.stars { 
    display: flex; 
    flex-direction: row-reverse; 
    justify-content: center;
}
идею использования флекс нашла в интернете и разобрала,
 без этого звездочки менялись в обратном порядке*/

.stars span { 
    display: block;
    height: 80px;
} 

.rating_star {
    display: inline-block;
    background: url(star0.png) no-repeat;
    width: 80px;
    height: 80px;  
}

.stars:hover > .rating_star {
    background: url(star1.png) no-repeat ;
   
    
}

.stars .rating_star:hover~.rating_star {     
        background: url(star0.png) no-repeat;   
        
}


