 
.text p{
color: blue;
}

.text p:first-child{
    color:green;
}

.text p:last-child{
    color: red;
}

a::before {
    content: url(extref.png);
    margin-right: 5px;
}

/*  Вариант 1: обращение по номеру нужного элемента, нужный div является шестым в контейнере

div.descr:nth-child(6){
    color: rgb(172, 118, 16);
} 

Вариант 2: обращение к каждому третьему div в контейнере, но при добавлении новых шахматистов покрасятся лишние элементы

div.descr:nth-of-type(3n){
    color: rgb(172, 118, 16);
}


Вариант 2.1: чтобы был покрашен строго один указанный в задании элемент, 
и при добавлении новго шахматиста не покрасились лишние элементы как в решении выше*/

div.descr:nth-of-type(-3n+6) {
    color: rgb(172, 118, 16);
}
